{% extends "base.html" %}
{% block content %}
    <br/>
    <div>
        <h2>New Post</h2>
        <div>
            <form action="/feed/" method="POST">
                <input type="text" name="post_title" placeholder="Post title ..."/>
                <button>Submit!</button>
            </form>
        </div>
    </div>
    <br/>
    <h2>Previous Posts</h2>
    {% for post in page_data.posts%}
        <a href="/feed/{{ post.post_id }}/">{{ post.post_title }}</a> </br>
        <h5>Post Content</h5>
        <p>{{ post.post_content }}</p>
        
    {% endfor %}
{% endblock %}