{% extends "base.html" %}
{% block content %}
    <h2>{{ page_data.post.post_title }}</h2>
    <h5> Post Content:</h5>
    <p> {{ page_data.post.post_content }} </p>

    <img src="{{ page_data.image }}"" style="width: 250px">

    <br><br>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>    
                <th>User Comment</th>
              
            </tr>
        </thead>
        {% for comment in page_data.post.comments %}
        <tbody>
            <tr>
                <td>
                    {{ comment.text }}
                    <br><br>
                    <form action="/feed/{{ page_data.post.post_id }}/like_comment/", method="POST">
                        <button class="btn btn-sm btn-primary">Like comment</button>
                    </form>
                    <br>
                    <form action="/feed/{{ page_data.post.post_id }}/unlike_comment/", method="POST">
                        <button class="btn btn-sm btn-primary">Unlike comment</button>
                    </form>
                    <br>
                    <form action="/feed/{{ page_data.post.post_id }}/delete_comment/", method="POST">
                        <button class="btn btn-sm btn-danger">Delete comment</button>
                    </form>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <p><strong>Note:</strong> A post can only have a single comment. Other users will not be able to post 
        a comment if there is currently one on the post.</p>

    
    <br>
    <form class="input-group mb-3" method="Post" action="/feed/{{ page_data.post.post_id }}/create_comment/">
        <input type="text" id="text" name="text" class="form-control" placeholder="Comment something!">
        <button type="submit" class="btn btn-sm btn-primary">Comment</button>
    </form>

    <br>
    <form action="/feed/{{ page_data.post.post_id }}/follow/", method="POST">
        <button class="btn btn-sm btn-primary">Follow post</button>
    </form>
    <br>
    <form action="/feed/{{ page_data.post.post_id }}/unfollow/", method="POST">
        <button class="btn btn-sm btn-primary">Unfollow post</button>
    </form>

    <br><br>

    <p><strong>Post ID:</strong> {{ page_data.post.post_id }}</p>
    <p><strong>Ranked Importance:</strong> {{ page_data.post.ranked_importance }}</p>
    <p><strong>Creator:</strong> {{ page_data.post.creator.name }} ({{ page_data.post.creator.email }})</p>
    <br>

    

    <h5>Update Post Info</h5>
    <form action="/feed/{{ page_data.post.post_id }}/", method="POST">
        <input class="input-group mb-3" type="text" name="post_title" placeholder="Post title ..."/>
        <input class="input-group mb-3" type="text" name="post_content" placeholder="Post content ..."/>
        <input  type="number" name="ranked_importance" placeholder="Ranked importance ..."/>
        <button class="btn btn-sm btn-primary">Update!</button>
    </form>

    <br><br>

    <h5>Update Image:</h5>
    <form action="/feed/{{ page_data.post.post_id }}/image/", method="POST" enctype="multipart/form-data">
        <input class="btn btn-sm btn-primary" type="file" name="image">
        <input class="btn btn-sm btn-primary" type="submit">
    </form>

    <br>


    


    <br> <br>
    <form action="/feed/{{ page_data.post.post_id }}/delete/", method="POST">
        <button class="btn btn-sm btn-danger">Delete post!</button>
    </form>
{% endblock %}