{% extends "base.html" %}
{% block content %}
    <h4>Website Disclaimer</h4>
    <p>AskToday does not authorise or validate user-generated content. Our posts, replies and information 
        are supplied to users "as is," with no assurances. Your use of the AskToday site is strictly your 
        responsibility. Expert advice Proper expert  for your specific circumstance should not be substituted 
        for postings from lawyers, doctors, and other professionals. </p>


    <br>
    <h4>Privacy Policy</h4>
    <p><strong>User Information:</strong> If you choose to sign up to AskToday we gather your name, email 
        and other information you submit. Other users will be able to view certain details about your activity 
        on the AskToday site, including the questions and answers you publish, after you create an account.</p>
    <p><strong>Materials:</strong>  We gather information and content that you upload to the AskToday site, 
        such as questions, replies, images, and user engagement.
    


    <br><br>
    <h4>Terms of Use for Contributors</h4>
    <p><strong>You retain ownership of the material you publish,</strong> however you allow us and other 
        AskToday platform users particular permissions and licences to use it.</p>
    <p><strong>You are solely responsible for the material you publish.</strong>  This includes verifying 
        that you have the necessary permissions to submit the content and that it does not infringe on 
        anyone else's legal rights or any relevant laws.</p>
    <p><strong>You agree to abide by our site's policies.</strong> You comply with our Terms of Service 
        and approve our Privacy Policy when you use the AskToday site.</p>
{% endblock %}

